<div class="jumbotron text-center">
  <h1>SynchoShare</h1>
  <p class="lead">Share music and interact with friends</p>
  <!--div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div-->

</div>

<div class="row">
  <div class="col-md-4">
    <h3>Personal accounts</h3>
    <p>Register and login to your own personal account.</p>
  </div>
  <div class="col-md-4">
    <h3>Interact through messaging and music</h3>
    <p>Navigate to the "Music Room" after logging in to interact with other accounts.</p>
  </div>
  <div class="col-md-4">
    <h3>This websites future...</h3>
    <p>This website will eventually be updated to allow personal music uploads.</p>
  </div>
</div>
