<div class="jumbotron text-center">
  <h1>MEAN Authentication App</h1>
  <p class="lead">Welcome to this website</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
  </div>

</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express backend</h3>
    <p>Stuff</p>
  </div>
  <div class="col-md-4">
    <h3>Angular-CLI</h3>
    <p>Stuff</p>
  </div>
  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>Stuff</p>
  </div>
</div>

<h1>Chat ayy</h1>
<div id='antonio-chat'>
	<div id='chat-window'>
		<div id='output'></div>
		<div id='feedback'></div>
	</div>
</div>
<input [(ngModel)]="name" id="handle" type="text" placeholder="Name">
<input [(ngModel)]="message" id="message" type="text" placeholder="Message">
<button id="send" (click)="send()">Send</button>

<button id="play"><div id="playPause">Play Music</div></button>
<button id="stop">Stop Music</button>
<!--audio id="audio" src="/music/song.mp3"></audio-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/
socket.io.js"></script>
